/* deffolt styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
body {
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
}
/* HEADER MOBILE STYLES */

.header-ul {
  display: none;
}

.adress-li {
  display: none;
}

.header-css {
  padding: 16px;
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav > a:focus,
.header-nav > a:hover {
  color: #404bbf;
}

.header-brand-text {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-brand-text:hover,
.header-brand-text:focus {
  color: #404bbf;
}

.span-st {
  color: #2e2f42;
}

/* MOBILE STYLES */

@media screen and (min-width: 320px) {
  .container {
    width: 288px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* restrictions, before switching to tablet devices */
@media screen and (max-width: 768px) {
  .mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms linear;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu {
  }

  .mobile-menu-container {
    position: relative;
  }

  .mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 8px;
    line-height: 0;
    width: 24px;
    height: 24px;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-color: #0000001a;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

/*  tablet styles */

@media screen and (min-width: 768px) {
  .header-ul {
    display: flex;
    gap: 40px;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111111;
  }

  .adress-li {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  .container {
    width: 736px;
  }
}
/* dekstop styles */

@media screen and (min-width: 1158px) {
}
